@model ErrorViewModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">Error @Model.StatusCode</h1>
<h2 class="text">@Model.Message</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

