.match {
    width: 163px;
    padding: 3px 7px;
    background: #fff;
    position: relative;
    z-index: 1;
    font-size: 11px;
    border: 1px solid #d5d5d5;
    overflow: hidden;
    margin-bottom: 10px;
}

.relation {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 0;
    display: block;
}

.round {
    width: 185px;
    display: inline-block;
}

.relation .h, .relation .vt, .relation .vb {
    background-color: red;
}

.relation .t {
    _border-top-width: 1px;
}

.relation .b, .relation .m, .relation .t {
    height: 1px;
}

.relation .h {
    width: 5px;
}

.relation .h, .relation .vt, .relation .vb {
    right: 5px;
}

.relation .t, .relation .vt {
    top: 20px;
}

.relation .t {
    _background: none;
    _border-top: 1px solid #ccc;
}

.relation .h, .relation .vt, .relation .vb, .relation .m, .relation .t, .relation .b {
    z-index: 0;
}

.relation .h, .relation .vt, .relation .vb {
    display: block;
    line-height: 0;
    font-size: 0;
    background: #ccc;
    position: absolute;
}

.participant {
    height: 18px;
    line-height: 18px;
    margin-bottom: 0px;
    display: block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}

.participant .score {
    padding-left: 7px;
    float: right;
    text-align: right;
}

round-two {

}