@model UserWithRolesViewModel

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles for user @Model.Email</h1>


@if (!Model.Roles.Any())
{
    <h2>No roles for this user</h2>
}

<ul>
    @foreach (var role in Model.Roles)
    {
        <li>@role</li>
    }
</ul>

