@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of all roles</h1>

<a class="btn btn-primary" asp-action="Create">Create</a>
<br />
<table class="table table-bordered" style="width:400px">
    <tr>
        <td>
            Role Name
        </td>
        <td>
            Actions
        </td>
    </tr>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Name
                </td>
                @if (User.IsInRole(GlobalConstants.AdministratorRole))
                {
                    <td>
                        <a href="/roles/delete/@role.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

