@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of all roles</h1>

<a class="btn btn-primary" asp-action="Create">Create</a>
<br />
<table class="table table-bordered">
    <tr>
        <td>
            Role Id
        </td>
        <td>
            Role Name
        </td>
    </tr>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Id
                </td>
                <td>
                    @role.Name
                </td>
                <td>
                    <a href="/roles/delete/@role.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
