@model IEnumerable<LiveMatchesViewModel>

@{
    ViewData["Title"] = "Live matches";
}

<h1>@ViewData["Title"]</h1>


<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table>
    <tr>
        <th>name1</th>
    </tr>
    <tr>
        <th>name2</th>
    </tr>

</table>