@model IEnumerable<PlayerViewModel>
@using Microsoft.AspNet.Identity
@{
    ViewData["Title"] = "TournamentPlayers";
}


<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            @if (player.Id.Equals(User.Identity.GetUserId()))
            {
                <tr bgcolor="#b2b2b2">
                    <th>
                        @player.Email
                    </th>
                </tr>
            }
            else
            {
                <tr >
                    <th>
                        @player.Email
                    </th>
                </tr>
            }
        }
    </tbody>
</table>